*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav */
.font-nav{
    font-size: 0.6rem;
}
.avatar{
    width: 200px;
    height: 200px;
}
.font-header{
    font-size: 0.7rem;
}
/* stella divisoria */
.side-star{
    max-width: 50%;
    height: 3px;
    border-radius:3px;
    background-color: white;
}
.side-star-port{
    max-width: 100%;
    height: 3px;
    border-radius:3px;
    background-color: black;
}
.ms_min-width{
    min-width: 30px;
    height: 30px;
}
/* immagini main */
.height{
    max-width: 100%;
    height: 200px;
    margin-bottom: 1rem;
    border-radius: 0.8rem ;
}
/* bordi contact me */
.ms_border{
    border: 5px solid white;
}
.ms_border_bottom{
    border-radius: 0px;
}
/* footer */
span{
    font-size: 0.7rem;
}
footer .col-12 p{
    font-size: 0.5rem;
}

/* hover icon footer */
.ms_hover{
    transition: all 0.5s;
}
.ms_hover:hover{
    background-color: chartreuse;
    color: chartreuse;
}